@charset "utf-8";
/* CSS Document */

body {
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: "微軟正黑體", -apple-system, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    color: #000;
    background: #b8b8b8;
}

a {
    text-decoration: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

button,
.btn {
    transition: 0.5s ease;
}

button:hover,
.btn:hover {
    opacity: 0.6;
}

button,
select {
    cursor: pointer;
    font-family: "微軟正黑體", -apple-system, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    padding: 0;
}

.body_detail{
   height: auto;
}


.toggle_btn {
    display: none;
    border: none;
    background: none;
    padding: 0;
    width: 28px;
    height: 30px;
    position: fixed;
    top: 8px;
    left: 15px;
    transition: 0.5s ease;
    z-index: 999;
}

._btn:hover {
    -ms-transform: scale(1.05, 1.05);
    /* IE 9 */
    -webkit-transform: scale(1.05, 1.05);
    /* Safari */
    transform: scale(1.05, 1.05);
    cursor: pointer;
    opacity: 1;
    /*3/4新增*/
}

.toggle_btn span {
    display: block;
    width: 100%;
    height: 3px;
    background: #fff;
    margin: 5px 0;
    transition: 0.5s ease;
}

.toggle_btn:hover span {
    background: #fff;
}


.toggle_btn.active {
    z-index: 999;
}


.nav_active .menu {
    z-index: 998;
}

.nav_active .menu .outer {
    text-align: right;
}

/* 導覽列 */
.header {
    background: #13d474;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99;
    box-shadow: 0px 0px 21px -3px rgba(0,0,0,0.54);
}

.header .outer {
    max-width: calc(100% - 40px);
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    color: #c50e6e;
    font-size: 18px;
    padding: 20px 15px;
}

.header .site_logo {
    display: inline-block;
}

.header .site_logo a {
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight:bold;
    color:whitesmoke;
}

/* .header .site_logo a img {
    height: 30px;
}

.header .site_logo.run a img:last-child {
    display: none;
} */


.header .links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.header .links a {
    color: #fff;
    display: inline-block;
    margin-left: 10px;
    font-size: 16px;
    line-height: 30px;
    height: 30px;
}

.header .links a.member img {
    height: 30px;
    overflow: hidden;
    border-radius: 50px;
}

.header .main_nav {
    background: #c50e6e;
}

.header .main_nav .outer {
    padding: 0;
}

.header .main_nav ul {
    display: table;
    margin: 0 auto;
}

.header .main_nav li {
    display: table-cell;
}

.header .main_nav li a {
    font-size: 18px;
    color: #fff;
    padding: 12px 20px;
    display: inline-block;
}

.header .main_nav li a:hover {
    color: #d4d4d4;
}


.header_banner {
    margin-top: 70px;
    position: relative;
    padding: 0;
    box-shadow: 0px 0px 16px -3px rgba(0,0,0,0.45);
}

.header_banner img {
    width: 100%;
}


.main {
    /* height:auto; */
    margin-top: -3px;
}

.main.gray_bg {
    background: #fff;
}


.main .outer {
    display: flex;
    flex-wrap: wrap;
}

/* 左側區塊 */
.main .outer .row01 { 
    /* height: auto; */
    width: calc(20% - 15px);
    text-align: right;
    border-right: 10px solid #13d474;
    background-color: #949797;
}

.main .outer .row01 .navi_menu {
    list-style: none;
    margin: 0;
    padding: 10;
    font-size: 22px;
    padding-top: 55px;
    padding-right: 20px;
    margin-top: 0;
    width: calc(100% - 30px);
    
}

.main .outer .row01 .navi_menu ul {
    margin: 0;
    padding: 0;
    list-style: none;  
}

.main .outer .row01 .navi_menu a {
    color:white;
    padding: 5px 0;
    text-align: right;
    font-weight: 800;
    display: block;
}

.main .outer .row01 .navi_menu li li a {
    font-size: 20px;
}

.main .outer .row01 .navi_menu a:hover {
    color: #ff1414;
}

.main .outer .row01 .navi_menu li.active a {
    color: #ff1414;
}

.main .outer .row01 .navi_menu li.active li a {
    color: #202124;
}

.main .outer .row01 .navi_menu li.active li a:hover {
    color: #ff1414;
}

.main .outer .row01 .navi_menu li.active li.active a {
    color: #ff1414;
    position: relative;
}

.main .outer .row01 .navi_menu li.active li.active a:after {
    content: '';
    position: absolute;
    right: -20px;
    top: 20px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 12px 8px 0;
    border-color: transparent #ff1414 transparent transparent;

}

.main .outer .row02 {
    /* height: auto; */
    width: 80%;
    padding-bottom: 0px;  
}

.main .outer .row02 .detail_div {
    float: left;
    width: calc(100% - 340px - 10%);
    padding-top: 75px;
    padding-bottom: 160px;
    
    padding-left: 1%;
    padding-right: 1%; 
    color: #202124; 
    
}



.main .outer .row02 .countdown_div {
    float: right;
    width: 350px;
}

.main .outer .row02 .countdown_div .gray_bg {
    padding: 10px 0;
    color: #000;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
    margin: 0px auto;
}

/* 右側<hr> */
.main .outer .row02 .countdown_div .box {
    border-top: 1px solid #26db3e;
    border-bottom: 1px solid #26db3e;
    margin-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    
}

.main .outer .row02 .countdown_div .box .title h2 {
    font-size: 25px;
}

.main .outer .row02 .countdown_div .box .desc {
    color: #E50012;
    font-size: 19px;
    margin-top: 25px;
}

.main .outer .row02 .countdown_div .box .info {
    font-size: 14px;
    margin-top: 10px;
}

.main .outer .row02 .countdown_outer .other_link {
    width: 80%;
    margin: 0 auto;
    padding-top: 7px;
}

/*0304新增*//* 右側btn */
.main .outer .row02 .countdown_outer .other_link .btn {
    border: 2px solid #13d474;
    display: block;
    margin: 25px 0;
    color: #e50012;
    padding: 5px;
    text-align: center;
    font-size: 16px;
    box-shadow: 0px 0px 16px -3px rgba(0,0,0,0.53);
}

/*0304新增*/
.main .outer .row02 .countdown_outer .other_link .btn:hover {
    background:rgb(156, 240, 31);
}

/*0304新增*/
.main .outer .row02 .countdown_outer .other_link .btn.active {
    
    color: #e50012;
}

/*0304新增*/
.main .outer .row02 .countdown_outer .other_link .btn111 {
    border-radius: 60px;
    display: block;
    margin: 10px 0;
    padding: 10px;
    /* font-size: 16px; */
    color: #e50012;
    text-align: center;
    /* background: rgba(174, 240, 76, 0.966); */
    box-shadow: 0px 0px 16px -3px rgba(0,0,0,0.45);
}

 .red {
    color: #ff1d1d;
}


.back_top {
    opacity: 0;
    position: fixed;
    left: 1200px;
    bottom: 10px;
    transition: 0.6s ease;
    z-index: 999;
}

.back_top.show {
    opacity: 0.8;
}


#mobile_nav {
    position: fixed;
    top: 0;
    padding-top: 60px;
    bottom: 0;
    z-index: 998;
    left: -100vw;
    width: 100vw;
    overflow-y: auto;
    background: #949797;
}

#mobile_nav .society {
    background: #0089e5;
    padding: 8px 10px;
}

#mobile_nav .society a {
    margin-right: 10px;
}

#mobile_nav .society a:hover {
    opacity: 0.5;
}

#mobile_nav .society a img {
    height: 25px;
}

#mobile_nav li {
    margin-top: -10px;
}


#mobile_nav li a {
    padding: 5px 10px;
    display: block;
    font-size: 22px;
    color: #fff;
    font-weight: 800;
    text-align: center;
}

#mobile_nav li a:hover {
    color: #f00;
}

#mobile_nav li li {
    border-bottom: none;
}

#mobile_nav li li a {
    font-size: 15px;
    padding-left: 25px;
}

body.nav_active #mobile_nav {
    left: 0;
    margin-top: 45px;
}

body.nav_active #mobile_nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: -30px;
}



@media screen and (min-width: 1481px)  {

    .main .outer .row02 .detail_div {     
        width: calc(100% - 280px - 10%);
        padding-left: 5%;
        padding-right: 5%;
        border-right:solid 10px #13d474;
        
    }

    .main .outer .row01 .navi_menu {
        padding-right: 20px;
        width: calc(100% - 30px);
    }

}

@media screen and (max-width: 1480px)  {
    .main .outer .row02 .detail_div {
        
        width: calc(100% - 280px - 10%);
        padding-left: 5%;
        padding-right: 5%;
        border-right:solid 10px #13d474;
        
    }

    .main .outer .row01 .navi_menu {
        padding-right: 20px;
        width: calc(100% - 30px);
    }

}


@media screen and (max-width: 1240px) {
    .main .outer .row01 .navi_menu {
        padding-right: 20px;
    }

    .main .outer .row02 .countdown_div {
        width: 330px;
    }

    .main .outer .row02 .detail_div {
        width: calc(100% - 310px - 6%);
        padding-left: 2%;
        padding-right: 2%;
        /* border-right: solid 1px white; */
        border-right:solid 10px #13d474;
    }

}


@media screen and (max-width: 992px) {
    
    .header {
        text-align: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 990;
        /* height: 90px; */
    }

    .header_banner {
        margin-top: 45px;
    }

    .toggle_btn.active span:nth-child(2) {
        top: 9px;
    }

    .toggle_btn.active {
        margin-right: 10px;
    }

    .main {
        /* margin-bottom: 80px; */
        margin-bottom: 0px;
    }

    .main.gray_bg {
        margin-bottom: 120px;
    }

    .main .outer .row01 {
        width: calc(20% - 5px);
    }

    .main .outer .row01 .navi_menu {
        font-size:18px;
    }

    .main .outer .row02 {
        width: 80%;
    }

    .main .outer .row02 .detail_div {
        width: calc(100% - 4%);
        border-right: solid 1px white;
    }


    .main .outer .row02 .countdown_div {
        display: none;
    }

    
}

@media screen and (max-width: 900px) {

    .main .outer .row02 .countdown_div {
        width: 100%;
        float: none;
    }

    .main .outer .row02 .detail_div {
        float: none;
        width: calc(100% - 30px);
        padding-left: 15px;
        padding-right: 15px;
    }

}


@media screen and (max-width: 767px) {
    .header .outer {
        display: block;
        text-align: center;
        padding: 10px 15px;
    }

    .header .site_logo img {
        height: 20px;
    }

    .header .site_logo.run img {
        height: 30px;
    }

    .header .site_logo.run a img:first-child {
        display: none;
    }

    .header .site_logo.run a img:last-child {
        display: inline-block;
    }

    .header .society {
        display: none;
    }

    .header .links {
        display: none;
    }

    .toggle_btn {
        display: block;
    }

    .header .site_logo a img {
        height: 25px;
    }


    .main .outer .row01 {
        display: none;
    }

    .main .outer .row02 {
        width: 100%;
    }

    .main .outer .row02 .countdown_div {
        display: block;
    }

    .main .outer .row02 .countdown_div .countdown_outer {
        width: 100% !important;
        position: relative !important;
        top: 0 !important;
    }

    .main .outer .row02 .countdown_outer .other_link {
        width: 90%;
    }

}


@media screen and (max-width: 640px) {
    .main .outer .row02 .detail_div {
        padding-top: 30px;
    }
  
}

/* 修正超過768px後漢堡選單仍存的BUG */
@media screen and (min-width: 768px) {   
    #mobile_nav {
       display: none;
    }
}


