@import url("https://fonts.googleapis.com/earlyaccess/notosanstc.css");

.gen-regu {
    font-family: en-font,"Noto Sans TC",WenQuanYi Zen Hei,LiHei Pro,"Microsoft JhengHei","Helvetica Neue",DFKai-SB,Helvetica,Arial, sans-serif;
}

.regu-header {
    font-size: 2.5em;
    font-weight: 600;
    margin: 2% 0% 2% 0;
}

.ulstyle li {
    border-bottom: 2px solid #ccc;
    border-top: 2px solid #ccc;
    border-left: 2px solid #ccc;
   
}

    .ulstyle li:first-child {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .ulstyle li:last-child {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-right: 2px solid #ccc;
    }


    .regu-table th {
        background-color: #ccc;
        letter-spacing: 10px;
    }

    .regu-table td {
        width: 50%;
    }

.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    border: 2px solid #ddd;
}
.xs-ul > .active, .xs-ul > .active > li:focus, .xs-ul > .active > li:hover{
    background-color: #555;
    
}
.xs-ul > .active > a , .xs-ul > .active > a:focus, .xs-ul > .active > a:hover{
    color: white;
}
.xs-ul a{
    color: #808080;
}

.xs-ul li{
    padding: 0 4%;
}


.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:focus, .nav-tabs.nav-justified > .active > a:hover {
    background-color: #555;
    color: white;
}

.nav-tabs.nav-justified a {
    color: #868a8d;
}

.nav-tabs.nav-justified > li > a {
    border-bottom: none;
    border-radius: 0;
}

.regu-table > tbody > tr > td, .regu-table > tbody > tr > th, .regu-table > tfoot > tr > td, .regu-table > tfoot > tr > th, .regu-table > thead > tr > td, .regu-table > thead > tr > th {
    line-height: 2em;
}